html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  background-color: transparent;
  border: 2px solid #0B83FA;
  padding: 10px;
  margin-left: 10px;
  transition: background-color .3s; }
  .button:hover {
    background-color: rgba(11, 134, 255, 0.51); }

.footer_button {
  position: relative;
  left: 100%;
  transform: translateX(-100%); }
  .footer_button i {
    font-size: 20px;
    opacity: .7;
    margin-left: 5px;
    margin-right: 5px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
  margin-top: 0; }
  body a {
    text-decoration: none;
    color: #000000; }

.header {
  width: 100%; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; }
    .header__menu .header__nav {
      margin-top: 25px; }
      .header__menu .header__nav li {
        display: inline;
        border-right: 2px solid #0B83FA;
        padding: 1px 10px; }
        .header__menu .header__nav li:last-child {
          border: none; }
        .header__menu .header__nav li a {
          font-size: 14px;
          text-transform: uppercase;
          line-height: 10px; }
    .header__menu .header__search {
      margin-top: 15px; }
  .header .header__slide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 30px;
    color: #0B83FA;
    opacity: .8; }

.footer {
  max-width: 85%;
  margin-top: 150px; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between; }
    .footer .wrapper h2 {
      color: #0B83FA;
      font-weight: bold;
      text-align: left;
      margin-bottom: 30px; }
    .footer .wrapper p {
      opacity: .8;
      line-height: 1.5; }
      .footer .wrapper p span, .footer .wrapper p a {
        font-weight: bold; }
    .footer .wrapper ul {
      font-weight: bold;
      line-height: 1.7;
      margin-top: -20px;
      text-transform: uppercase;
      opacity: .8; }
    .footer .wrapper .footer__contact {
      text-transform: uppercase; }
      .footer .wrapper .footer__contact h3 {
        margin-bottom: 20px; }
      .footer .wrapper .footer__contact input {
        border: none;
        border-bottom: 2px solid #0B83FA;
        padding-bottom: 10px; }
      .footer .wrapper .footer__contact-social i {
        font-size: 20px;
        opacity: .7; }
      .footer .wrapper .footer__contact-social .button-group:first-child i {
        padding-right: 20px;
        padding-left: 20px; }
      .footer .wrapper .footer__contact-news i {
        font-size: 20px;
        padding-left: 4px;
        padding-right: 4px;
        opacity: .7; }

.copy-right {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  opacity: .6;
  margin-left: -20%; }
