
.btn {
  background-color: transparent;
  border: 2px solid $border-color;
  padding: 10px;
  width: 50px;
  transition: background-color .3s;

  &:hover {
    background-color: rgba(11, 134, 255, 0.51);
  }
}

.btn-group{
  display: flex;
  justify-content: center;

  & button:not(:last-child) {
    border-right: none;
  }

  .btn__inner {
    font-size: 16px;
    opacity: .7;
  }
}


