
.button {
  background-color: transparent;
  border: 2px solid $border-color;
  padding: 10px;
  margin-left: 10px;
  transition: background-color .3s;

  &:hover {
    background-color: rgba(11, 134, 255, 0.51);
  }
}

.footer_button {
  i {
    font-size: 20px;
    opacity: .7;
    margin-left: 5px;
    margin-right: 5px;
  }
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

