
.button {
  background-color: transparent;
  border: 2px solid $border-color;
  padding: 10px;
  margin-left: 10px;
  transition: background-color .3s;

  &:hover {
    background-color: rgba(11, 134, 255, 0.51);
  }
}


