body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
  margin-top: 0;

}

.header {
  width: 100%;
  &__menu {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    & .header__nav {
      margin-top: 25px;

      li {
        display: inline;
        border-right: 2px solid $border-color;
        padding: 1px 10px;

        &:last-child {
          border: none;
        }

        & a {
          text-decoration: none;
          color: #000000;
          font-size: 14px;
          text-transform: uppercase;
          line-height: 10px;
        }
      }
    }
    & .header__search {
      margin-top: 15px;
    }
  }

  .header__slide{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 30px;
    color: $border-color;
    opacity: .8;
  }
}
